.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding-block: 4.75rem;
	padding-inline: 0;
	@media (min-width: $md4) {
		padding-block: 2.5rem;
	}
}

.fancybox__backdrop {
	background: rgba($color: #161c24, $alpha: 0.6);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	width: 100%;
	padding: 0;
	background: none;
	max-width: rem(500);
	&--video {
		max-width: 100%;
		width: 100%;
		height: 100%;
		padding: rem(40) rem(16) rem(30);
		.popup__body {
			justify-content: center;
			flex-direction: row;
			background: transparent;
			padding: 0;
		}
	}

	// .popup__body
	&__body {
		position: relative;
		width: 100%;
		background: #ffffff;
		color: $dark;
		padding: rem(40) rem(16) rem(30);
		display: flex;
		align-items: center;
		flex-direction: column;
		flex: 1 1 auto;
		.popup__close {
			color: #1f2b32;
		}
		@media (min-width: $md5) {
			padding: 2.69rem 2.25rem;
		}
	}
	&__title {
		text-align: center;

		font-weight: 500;
		line-height: 120%;
		font-size: 1.25rem;
		@media (min-width: $md5) {
			font-size: 2rem;
		}
	}
	&__subtitle {
		margin-top: 1.5rem;
		text-align: center;
		font-size: 1.125rem;
		line-height: 140%;
		max-width: 21.20813rem;
		margin-left: auto;
		margin-right: auto;
	}
	&__form {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 1.5rem;
		}
		.btn {
			min-height: rem(76);
		}
	}
	&__btn {
		margin-top: 1.5rem;
		min-width: 12.125rem;
	}
	&__close {
		position: absolute;

		background: none;
		top: 0.5rem;
		right: 0.5rem;
		font-size: 1.25rem;

		transition: color 0.3s ease 0s;
		&::before {
			@extend %ic, .icon-close;
		}
		@media (min-width: $md4) {
			font-size: 1.5rem;
			top: 0.75rem;
			right: 0.87rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	&__video {
		background: #000;
		margin-top: 2rem;
		display: block;
		position: relative;
		aspect-ratio: 16 / 9;
		max-width: 100%;
		width: 100%;
		height: auto;
		@media (min-width: $md4) {
			width: auto;
			height: 100%;
		}
		& iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
