.sale-banner {
	background: rgba(0, 0, 0, 0.52);
	z-index: 12;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;

	@media (max-width: $md4) {
		transition: opacity 0.3s ease, visibility 0.3s ease;
		opacity: 0;
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		min-height: 100vh;
		&.visible {
			opacity: 1;
			visibility: visible;
			.sale-banner__wrapper {
				transform: none;
			}
		}
	}
	@media (min-width: $md4) {
		top: auto;
		left: auto;
		bottom: auto;
		right: auto;
		height: auto;
		background: transparent;
		opacity: 0;
		visibility: hidden;
		margin-top: rem(-82);
		transition: opacity 0.3s ease, visibility 0.3s ease, margin-top 0.3s ease;
		&.visible {
			opacity: 1;
			visibility: visible;
			margin-top: 0;
		}
	}
	// .sale-banner__wrapper
	&__wrapper {
		color: #fff;
		border-radius: 0.75rem 0.75rem 0 0;
		background: #182127;
		position: relative;
		padding: 4.13rem rem(8) 1.69rem;
		transform: translateY(100%);
		transition: transform 0.3s ease;
		@media (min-width: $md4) {
			transform: none;
			transition: none 0.3s ease;
			overflow: hidden;
			padding: rem(20) 0;
			background: #10181d;
			border-radius: 0;
		}
	}
	// .sale-banner__container
	&__container {
	}
	// .sale-banner__content
	&__content {
		display: flex;
		gap: rem(16);
		flex-direction: column;
		@media (min-width: $md4) {
			position: relative;
			align-items: center;
			padding-left: 4.06rem;
			flex-direction: row;
			justify-content: space-between;
			padding-right: 2.5rem;
		}
		@media (min-width: 840px) {
			padding-right: 0;
		}
		@media (min-width: $md3) {
			padding-right: 2.5rem;
		}
		@media (min-width: 1070px) {
			padding-right: 0;
		}
		@media (min-width: $md2) {
			padding-right: 2rem;
		}
		@media (min-width: 1260px) {
			gap: rem(30);
			padding-right: 0;
		}
	}
	// .sale-banner__icon
	&__icon {
		position: absolute;
		z-index: 1;
		text-align: center;
		left: 50%;
		transform: translateX(-50%);
		top: -3.12rem;
		height: 6.3125rem;
		@media (min-width: $md4) {
			height: rem(67);
			top: 50%;
			width: 4.06rem;
			transform: translateY(-50%);
			left: 0;
		}
		& img {
			max-width: 3.03869rem;
			@media (min-width: $md4) {
				max-width: rem(33);
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 2.4375rem;
			height: 3.5625rem;
			border-radius: 3.5625rem;
			background: #ffd665;
			filter: blur(rem(30));
		}
	}
	// .sale-banner__main
	&__main {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		text-align: center;
		align-items: center;
		@media (min-width: $md4) {
			text-align: left;
		}
		@media (min-width: $md2) {
			gap: rem(30);
			flex-direction: row;
		}
	}
	// .sale-banner__title
	&__title {
		font-weight: 500;
		text-transform: uppercase;
		position: relative;
		z-index: 2;
		font-size: 1.25rem;

		line-height: 114%;
		@media (min-width: $md3) {
			line-height: 140%;
			font-size: 1.5rem;
		}
		@media (min-width: $md1) {
			font-size: 1.75rem;
		}
	}
	// .sale-banner__text
	&__text {
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 110%;
		max-width: 90%;
		margin-top: 0.875rem;
		@media (min-width: $md4) {
			margin-top: 0;
		}
		@media (min-width: $md2) {
			max-width: 19.8125rem;
		}
	}
	// .sale-banner__close
	&__close {
		position: absolute;
		color: #747a7d;
		transition: color 0.3s ease;
		top: 0.75rem;
		right: 0.75rem;
		font-size: 1.1875rem;
		@media (min-width: $md4) {
			font-size: 1.6875rem;
			right: 1rem;
			top: 50%;
			transform: translateY(-50%);
		}
		@media (min-width: $md1) {
			right: 2rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .sale-banner__btn
	&__btn {
		width: 100%;
		@media (min-width: $md4) {
			width: auto;
			margin-left: auto;
		}
		&.btn.icon-more {
			padding: 0.44rem 0.75rem 0.44rem 1rem;
			font-size: 1rem;
			min-height: rem(42);
			gap: 0.31rem;
		}
	}
}
