.catalog {
	padding: em(0) em(0) 2.5rem em(0);
	@media (min-width: $md2) {
		padding: em(0) em(0) 3.5rem em(0);
	}
	// .calatog__container
	&__container {
	}
	// .catalog__header
	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(40);
		flex-direction: column;
		gap: rem(23);
		@media (min-width: $md5) {
			align-items: center;
			flex-direction: row;
		}
	}
	// .catalog__title
	&__title {
	}
	// .catalog__btn
	&__btn {
	}
	// .catalog__search
	&__search {
		display: none;
		@media (min-width: $md2) {
			margin-bottom: 3.25rem;
			display: block;
		}
	}
	// .catalog__block
	&__block {
		&:not(:last-child) {
			border-bottom: 0.0625rem solid rgba($color: #fff, $alpha: 0.15);
			margin-bottom: 2rem;
			padding-bottom: 2rem;
			@media (min-width: $md5) {
				padding-bottom: 4.19rem;
			}
		}
	}
	// .catalog__block-title
	&__block-title {
	}
	// .catalog__list
	&__list {
		display: grid;
		column-gap: 1.5rem;
		margin-top: 1.25rem;
		row-gap: 1rem;
		@media (min-width: $md4) {
			margin-top: 2.25rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md3) {
			row-gap: 0.44rem;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md2) {
			margin-top: 1.6rem;
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .catalog__item
	&__item {
		@media (min-width: $md4) and (max-width: $md3) {
			@for $i from 1 through 2 {
				&:nth-child(2n + #{$i}) {
					transition-delay: $i * 0.25s;
				}
			}
		}
		@media (min-width: $md3) and (max-width: $md1) {
			@for $i from 1 through 3 {
				&:nth-child(3n + #{$i}) {
					transition-delay: $i * 0.2s;
				}
			}
		}
		@media (min-width: $md1) {
			@for $i from 1 through 4 {
				&:nth-child(4n + #{$i}) {
					transition-delay: $i * 0.15s;
				}
			}
		}
	}
	// .catalog__grid
	&__grid {
		display: grid;
		margin-top: rem(40);
		gap: rem(14);
		@media (min-width: $md4) {
			gap: 1rem;
			margin-top: 4.31rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			gap: rem(32);
		}
	}
	// .catalog__category
	&__category {
		&.catalog__category--large {
			@media (min-width: $md3) {
				grid-row: span 2;
			}
			@media (min-width: $md3) {
				.catalog__category-card {
					grid-template-columns: 1fr;
					padding: rem(32);
					&::after {
						width: 100%;
						bottom: 9rem;
					}
				}
			}
			.catalog__category-image {
				@media (min-width: $md3) {
					height: rem(318);
					&::before {
						width: rem(200);
						height: rem(200);
					}
				}
				@media (min-width: $md2) {
					height: rem(418);
				}
			}
		}
	}
	// .catalog__category-card
	&__category-card {
		border-radius: 1.125rem;
		background: #161f25;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 50%;
			border-radius: 1.125rem;
			z-index: -1;
			box-shadow: 0px 64px 170px -67px rgba(255, 210, 87, 0.25);
		}
		display: grid;
		align-items: center;
		gap: 1.25rem;
		align-items: center;
		padding: 1rem;
		min-height: rem(288);
		@media (min-width: $md3) {
			min-height: 100%;
			padding: 0.88rem 1.87rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (any-hover: hover) {
			&:hover {
				.catalog__category-more {
					color: #fff;
					&::before {
						transform: translateX(0.5rem);
					}
				}
				.catalog__category-image {
					& img {
						transform: scale(1.075);
					}
				}
			}
		}
	}
	// .catalog__category-image
	&__category-image {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 50%;
		margin: 0 auto;

		@media (min-width: $md3) {
			height: 9.3125rem;
			max-width: 100%;
		}
		@media (min-width: $md2) {
			height: 14rem;
		}
		&.catalog__category-image--small {
			@media (min-width: $md3) {
				width: 100%;
				height: 6.5rem;
			}
			@media (min-width: $md2) {
				height: 9.3125rem;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			flex-shrink: 0;
			opacity: 0.3;
			background-color: #ffd665;
			z-index: -1;
			width: 5.6875rem;
			height: 5.25rem;
			filter: blur(rem(30));
			@media (min-width: $md4) {
				filter: blur(rem(50));
				width: rem(106);
				height: rem(106);
			}
			@media (min-width: $md2) {
				width: rem(146);
				height: rem(146);
			}
		}
		& img {
			display: block;
			max-height: 100%;

			width: auto;
			transition: transform 0.3s ease 0s;
		}
	}
	// .catalog__category-body
	&__category-body {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
	}
	// .catalog__category-name
	&__category-name {
		@media (max-width: $md2) {
			font-size: 1.375rem;
		}
	}
	// .catalog__category-more
	&__category-more {
		line-height: 140%;
		display: inline-flex;
		align-items: center;
		gap: 0.44rem;
		color: rgba($color: #fff, $alpha: 0.6);
		transition: color 0.3s ease 0s;
		font-size: 0.875rem;
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
		&::before {
			order: 1;
			color: $accent;
			transition: transform 0.3s ease 0s;
		}
	}
}

.search {
	// .search__input
	&__input {
		transition: all 0.3s ease 0s;
		border-radius: 0.625rem;
		border: rem(1) solid transparent;
		background: rgba(255, 255, 255, 0.18);
		width: 100%;
		text-overflow: ellipsis;
		padding: 0.875rem 1.37rem;
		color: #fff;
		font-size: 1.125rem;
		line-height: 140%;
		&:focus {
			border: rem(1) solid #fff;
		}
		&::placeholder {
			color: #fff;
			opacity: 0.5;
		}
	}
}

.product {
	border-radius: 0.5rem;
	background: #161f25;
	min-height: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (any-hover: hover) {
		&:hover {
			.product__image img {
				transform: scale(1.075);
			}
		}
	}
	&.product_white {
		background: #f0f3f5;
		color: #232c32;
	}
	// .product__image
	&__image {
		width: 14.25rem;
		height: 14.25rem;

		@media (min-width: $md4) {
			width: 14.25rem;
			height: 14.25rem;
		}
		display: flex;
		justify-content: center;
		align-items: center;
		& img {
			transition: transform 0.3s ease 0s;
		}
	}
	// .product__info
	&__info {
		width: 100%;
		margin-top: 1.38rem;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .product__category
	&__category {
		color: rgba($color: #fff, $alpha: 0.4);
		font-size: 0.75rem;
		line-height: 110%;
		text-transform: uppercase;
	}
	// .product__name
	&__name {
		margin-top: 0.45rem;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 120%;
	}
	// .product__desc
	&__desc {
		margin-top: 1.2rem;
		font-size: 1rem;
		line-height: 160%;
	}
}
