.projects {
	padding: 0 0 3rem;
	@media (min-width: $md2) {
		padding: 0.75rem 0 4rem;
	}
	// &.projects_offset {
	// 	padding: 3.6rem 0 6.22rem;
	// 	scroll-margin-top: calc(var(--header-height) + rem(68));
	// 	border-bottom: rem(1) solid #8a8e92;
	// }
	// .projects__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__controls {
		display: none;
		@media (min-width: $md5) {
			display: flex;
			gap: 1.25rem;
		}
	}
	&__slider {
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 2rem;
		}
		overflow: visible;
		@media (min-width: $md4) {
			overflow: hidden;
		}
		@media (min-width: $md2) {
			margin-top: 5rem;
		}
		.projects__item {
			width: rem(247);
			@media (min-width: $md4) {
				width: auto;
			}
		}
	}
	// .projects__container
	&__container {
	}
	// .projects__title
	&__title {
	}
	// .projects__list
	&__list {
		display: grid;
		margin-top: 1.75rem;
		column-gap: 1.28rem;
		row-gap: 1.5rem;
		@media (min-width: $md5) {
			row-gap: 2.5rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			column-gap: 6.25rem;
			row-gap: 4.38rem;
			margin-top: 4.7rem;
		}
	}
	// .projects__item
	&__item {
		display: flex;
		flex-direction: column;
		@media (min-width: $md5) {
			@for $i from 1 through 6 {
				&:nth-child(6n + #{$i}) {
					transition-delay: $i * 0.125s;
				}
			}
		}
	}
	// .projects__item-image
	&__item-image {
		height: 0;
		position: relative;
		padding-bottom: 59.132%;
		overflow: hidden;
		border-radius: rem(8);
		@media (min-width: $md5) {
			border-radius: 0;
		}
		& img {
			transition: transform 0.3s ease 0s;
			position: absolute;
			top: 0;
			left: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.025);
				}
			}
		}
	}
	// .projects__item-info
	&__item-info {
		flex: 1 1 auto;
		margin-top: 1.33rem;
		max-width: calc(100% - rem(40));
		padding-bottom: 1rem;
		@media (min-width: $md5) {
			padding-bottom: 1.5rem;
			max-width: 100%;
			margin-top: rem(27);
		}
		@media (min-width: $md2) {
			flex: 0 1 auto;
		}
		border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.2);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .projects__item-label
	&__item-label {
		color: rgba($color: #fff, $alpha: 0.6);
		line-height: 110%;
		text-transform: uppercase;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 0.75rem;
		}
	}
	// .projects__item-name
	&__item-name {
		font-size: 0.875rem;
		margin-top: 0.6rem;
		@media (min-width: $md5) {
			margin-top: 1rem;
			font-size: 1.25rem;
		}
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
		@media (min-width: $md2) {
			font-size: 2rem;
		}
		font-weight: 500;
		line-height: 120%;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: rgba($color: #fff, $alpha: 0.6);
			}
		}
	}
	// .projects__item-place
	&__item-place {
		font-weight: 500;
		line-height: 120%;
		margin-top: 0.5rem;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1.125rem;
			margin-top: 0.75rem;
		}
		@media (min-width: $md2) {
			margin-top: 0.65rem;
			font-size: 1.25rem;
		}
	}
	// .projects__item-more
	&__item-more {
		gap: 0.75rem;
		line-height: 140%;
		display: inline-flex;
		align-items: center;
		font-size: 1rem;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 2rem;
			font-size: 1.125rem;
		}
		&::before {
			order: 1;
			font-size: 0.65rem;
			color: $accent;
			@media (min-width: $md5) {
				font-size: 1rem;
			}
			transition: transform 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					transform: translateX(rem(10));
				}
			}
		}
	}
}
