<div class="products__slide swiper-slide" itemscope itemtype="https://schema.org/Product">
    <a href="" class="products__slide-card products__slide-card--hit" itemprop="url">
        <span class="products__slide-image">
            <img src="@@url" alt="Изображение товара" itemprop="image">
        </span>
        <span class="products__slide-category" itemprop="category">@@category</span>
        <span class="products__slide-name" itemprop="name">@@name</span>
        <span class="products__slide-desc" itemprop="description">@@description</span>
    </a>
</div>