.form {
	&._sending {
		button[type="submit"] {
			@extend ._loading;
		}
	}
	display: flex;
	flex-direction: column;
	// .form__row
	&__row {
		display: grid;
		gap: 0.75rem;
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
		@media (min-width: $md5) {
			gap: 1rem;
			grid-template-columns: repeat(3, 1fr);
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
	// // .form__field
	// &__field {
	// 	position: relative;

	// 	border-radius: rem(12);
	// 	&._error {
	// 		& + .form__error {
	// 			display: flex;
	// 		}
	// 	}
	// }

	// .form__input
	&__input {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		background: #fff;
		color: $dark;
		line-height: 140%;
		border-radius: 0.25rem;
		background: #f2f2f2;
		padding: 1.125rem 0.75rem;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md2) {
			font-size: 1.125rem;
			padding: 1.53rem 0.75rem;
		}
		// &._input {
		// 	padding: rem(20.2) 1rem rem(8.2);
		// 	& + .form__field-placeholder {
		// 		font-size: rem(12);
		// 		top: rem(4);
		// 		color: #646d70;
		// 		transition: top 0.3s ease 0s, font-size 0.3s ease 0s;
		// 	}
		// }
		// &:-webkit-autofill,
		// &:not(:placeholder-shown) {
		// 	& + .form__field-placeholder {
		// 		font-size: rem(12);
		// 		top: rem(4);
		// 	}
		// }
		&:hover,
		&:focus {
			border-color: #039;
		}
		&::placeholder {
			color: #a1a5a7;
			opacity: 1;
		}
		&:disabled {
			background: #ddd;
			border-color: #ddd;
		}
		&._error {
			background: #fff;
			border-color: #ba2028;
		}
	}

	// .form__textarea
	&__textarea {
		resize: vertical;
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		background: #fff;
		color: $dark;
		padding: 1.2rem 0.75rem;
		line-height: 140%;
		border-radius: 0.25rem;
		background: #f2f2f2;
		font-size: 0.875rem;
		height: rem(107);
		@media (min-width: $md5) {
			font-size: 1rem;
			height: 9rem;
		}
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
		// &._input {
		// 	padding: rem(20.2) 1rem rem(8.2);
		// }
		// &:-webkit-autofill,
		// &:not(:placeholder-shown) {
		// 	& + .form__field-placeholder {
		// 		font-size: rem(12);
		// 		top: 0.25rem;
		// 		background: #fff;
		// 		color: #646d70;
		// 		border-radius: rem(12);
		// 	}
		// }
		&:hover,
		&:focus {
			border-color: #039;
		}
		&::placeholder {
			color: #a1a5a7;
			opacity: 1;
		}
		&:disabled {
			background: #dfe0e1;
			border-color: #dfe0e1;
		}
		&._error {
			background: #fff1ed;
			border-color: #fff1ed;
		}
	}
	// .form__field-placeholder
	// &__field-placeholder {
	// 	position: absolute;
	// 	top: 1rem;
	// 	left: rem(5);
	// 	padding: 0 0.75rem;
	// 	// left: 0.85rem;
	// 	color: #b6bbc0;
	// 	display: block;
	// 	transition: top 0.3s ease 0s, font-size 0.3s ease 0s;
	// 	font-size: 1rem;

	// 	pointer-events: none;
	// 	width: calc(100% - rem(10));
	// 	@media (min-width: $md4) {
	// 		font-size: 0.875rem;
	// 	}
	// 	@media (min-width: $md2) {
	// 		font-size: 1rem;
	// 	}
	// }
	// &__error {
	// 	margin-top: 0.5rem;
	// 	display: none;
	// 	align-items: center;
	// 	column-gap: 0.5rem;
	// 	color: #ba2028;
	// 	font-size: 0.75rem;
	// 	line-height: 1.4;
	// 	&::before {
	// 		font-size: 0.5rem;
	// 		width: 1rem;
	// 		height: 1rem;
	// 		display: flex;
	// 		justify-content: center;
	// 		align-items: center;
	// 	}
	// }
	// .form__checkbox
	&__checkbox {
		display: block;
		&.form__checkbox-white {
			.form__checkbox-input {
				&:checked {
					& + .form__checkbox-content {
						&::before {
							background-color: #fff;
							border-color: #fff;
							// @extend %ic, .icon-check;
						}
					}
				}
			}
			.form__checkbox-content {
				&::before {
					border-color: #fff;
					color: $dark;
				}
			}
		}
	}
	// .form__checkbox-input
	&__checkbox-input {
		&._error {
			& + .form__checkbox-content {
				&::before {
					border-color: #ba2028;
					background: #fff1ed;
				}
			}
		}
		&:checked {
			& + .form__checkbox-content {
				&::before {
					background-color: #323c42;
					border-color: #323c42;
					// @extend %ic, .icon-check;
				}
			}
			&._error {
				& + .form__checkbox-content {
					&::before {
						background-color: #323c42;
						border-color: #323c42;
					}
				}
			}
		}
	}

	// .form__privacy-link
	&__privacy-link {
		text-decoration: underline;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	// .form__footer
	&__footer {
		display: flex;
		gap: 0.91rem;
		flex-direction: column;
		margin-top: 1rem;
		@media (min-width: $md5) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
		@media (min-width: $md2) {
			margin-top: 2rem;
		}
		.btn {
			min-height: 4.6875rem;
		}
	}
}

// .toggler {
// 	// .toggler__input
// 	&__input {
// 		&:disabled {
// 			& + .toggler__btn {
// 				background: #dfe0e1;
// 				color: #fff;
// 			}
// 		}
// 		&:checked {
// 			& + .toggler__btn {
// 				background: #3b7cff;
// 				color: #fff;
// 				border-color: #3b7cff;
// 				&::before {
// 					transform: translate(rem(22), -50%);
// 				}
// 			}
// 		}
// 	}
// 	// .toggler__btn
// 	&__btn {
// 		width: rem(48);
// 		height: rem(24);
// 		border-radius: 6.25rem;
// 		color: #3b7cff;
// 		border: 1px solid currentColor;
// 		background: #fff;
// 		position: relative;
// 		cursor: pointer;
// 		transition: color 0.3s ease 0s, background-color 0.3s ease 0s;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			top: 50%;
// 			transform: translate(0, -50%);
// 			left: rem(4);
// 			width: 1rem;
// 			height: 1rem;
// 			background: currentColor;
// 			border-radius: 50%;
// 			transition: transform 0.3s ease 0s;
// 		}
// 		@media (any-hover: hover) {
// 			&:hover {
// 				color: #0055ff;
// 			}
// 		}
// 	}
// }

// .option {
// 	// .option__input
// 	&__input {
// 		&:checked {
// 			& + .option__content {
// 				&::before {
// 					border-color: $accent;
// 					background: $accent;
// 					box-shadow: inset 0 0 0 rem(5) #fff;
// 				}
// 			}
// 			& + .option__btn {
// 				background: $accent;
// 				color: #fff;
// 			}
// 		}
// 		&:disabled {
// 			& + .option__btn {
// 				pointer-events: none;
// 				border-radius: 0.75rem;
// 				border: rem(1) solid #dfe0e1;
// 				color: #9aa2a9;
// 			}
// 		}
// 	}
// 	// .option__content
// 	&__content {
// 		display: flex;
// 		align-items: center;
// 		gap: 0.75rem;
// 		cursor: pointer;
// 		&::before {
// 			content: "";
// 			width: 1.5rem;
// 			height: 1.5rem;
// 			border-radius: 50%;
// 			background: #fff;
// 			transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s;
// 			flex-shrink: 0;
// 			border: rem(1) solid #b6bbc0;
// 		}
// 	}
// 	// .option__btn
// 	&__btn {
// 		border: rem(1) solid #4770ff;
// 		background: #fff;
// 		display: block;
// 		line-height: 160%;
// 		text-align: center;
// 		white-space: nowrap;
// 		cursor: pointer;
// 		padding: 0.5rem 0.31rem;
// 		font-size: 0.75rem;
// 		border-radius: 0.75rem;
// 		@media (min-width: $md5) {
// 			font-size: 0.875rem;
// 		}
// 		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
// 		@media (any-hover: hover) {
// 			&:hover {
// 				background: #4770ff;
// 				color: #fff;
// 			}
// 		}
// 	}
// }

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: all 0.3s ease 0s;
	border-radius: 6.25rem;
	font-weight: 500;
	line-height: 162.5%;
	font-size: 1.125rem;
	padding: 0.8rem 1.78rem;
	@media (min-width: $md5) {
		padding: 1.41rem 1.78rem;
	}
	gap: 1rem;
	&.icon-more {
		padding-left: 1.78rem;
		padding-right: 1rem;
	}
	&::before {
		order: 1;
		font-size: 1.35rem;
	}

	&.btn-primary {
		border: 1px solid rgba(198, 198, 198, 0.25);
		background: #232c32;
		box-shadow: 0px 0px 22px 0px rgba(255, 255, 255, 0.23);
		backdrop-filter: blur(4.900000095367432px);
		color: #fff;
		@media (any-hover: hover) {
			&:hover {
				background: #fff;
				color: #232c32;
			}
		}
	}
	&.btn-primary-outline {
		border: rem(1.5) solid #434343;
		color: #232c32;
		@media (any-hover: hover) {
			&:hover {
				background: #232c32;
				color: #fff;
			}
		}
	}
	&.btn-shadow {
		border: rem(1.5) solid rgba(255, 255, 255, 0.25);
		background: rgba(0, 0, 0, 0.11);
		box-shadow: 0px 0px 22px 0px rgba(255, 255, 255, 0.23);
		backdrop-filter: blur(4.900000095367432px);
		@media (any-hover: hover) {
			&:hover {
				background: rgba(0, 0, 0, 0.31);
			}
		}
	}
	&.btn-secondary {
		border: rem(1) solid #c6c6c6;
		color: #fff;
		@media (any-hover: hover) {
			&:hover {
				background: #c6c6c6;
				color: $dark;
			}
		}
	}
	&.btn-sm {
		font-size: 1rem;
		padding: 0.55rem 1.02rem;
	}
	&.btn-lg {
		font-size: 1.25rem;
		padding: 1.25rem 1.78rem;
		&.icon-more {
			padding: 1.25rem 2rem 1.25rem 1rem;
		}
	}
	&:active {
		transform: scale(0.975);
	}
	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		pointer-events: none;
		opacity: 0.5;
	}
}

.checkbox {
	display: block;
	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
	// .checkbox__input
	&__input {
		&:checked {
			& + .checkbox__content {
				&::before {
					@extend %ic, .icon-check;
				}
			}
		}
	}
	// .checkbox__content
	&__content {
		position: relative;
		display: block;

		font-size: 0.75rem;
		padding: 0.15rem 0 0.15rem 1.5rem;
		@media (min-width: $md5) {
			padding: 0.25rem 0 0.25rem 2.25rem;
			font-size: 0.875rem;
		}
		@media (min-width: $md2) {
			font-size: 1rem;
		}

		cursor: pointer;
		user-select: none;
		&::before {
			content: "";

			position: absolute;
			top: 0;
			left: 0;
			background: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $dark;
			background: #fff;
			border-radius: rem(4);
			width: 1rem;
			height: 1rem;
			font-size: 0.4rem;
			@media (min-width: $md5) {
				font-size: 0.5rem;
				width: 1.3125rem;
				border-radius: rem(6);

				height: 1.3125rem;
			}
			@media (min-width: $md2) {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
		& a {
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
