// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================

// &display=swap&subset=cyrillic-ext
@import "fonts";

// ======================================ШРИФТЫ===============================================
// ======================================ИКОНОЧНЫЙ ШРИФТ======================================
@import "icons";

// ======================================ИКОНОЧНЫЙ ШРИФТ======================================

// Шрифт по умолчанию
$fontfamily: "Cygre";

// Шрифт по умолчанию

$md0: 1659.98px;
$md1: 1479.98px;
$md2: 1199.98px;
$md3: 991.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ
$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1430); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

$black: #000;
$dark: #10181d;
$white: #fff;
$accent: #ffd665;
$red: #ba2028;

// Z-Index
$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

//ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
html {
	scroll-padding-top: var(--header-height);
}
body {
	font-family: $fontfamily, sans-serif;
	color: $white;
	background: $dark;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	&.lock {
		overflow: hidden;
		@media (min-width: $md2) {
			overflow: visible;
		}
	}
	&:has(.sale-banner.visible) {
		@media (max-width: $md4) {
			overflow: hidden;
		}
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	// overflow: hidden;
	overflow-x: clip;
	@media (max-width: $md4) {
		overflow: hidden;
	}
	--header-height: 102px;
	&:has(.sale-banner.visible) {
		--header-height: 184px;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

// Отзывчивая
[class*="__container"] {
	margin: 0 auto;
	box-sizing: content-box;
	padding: 0 1rem;
	max-width: 100%;
	@media (min-width: $md5) {
		max-width: rem(540);
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: rem(1250);
	}
	&.container-lg {
		max-width: rem(1430);
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

//=================Подключаем файлы стилей
//================Общий файл для элементов страницы
@import "grid";
@import "ui";
@import "forms";
//================Общий файл для элементов страницы
@import "header";
@import "footer";
//=======================================

// =======================ОСНОВНОЙ БЛОК==================
.page {
	flex: 1 1 auto;
	overflow-x: clip;
	padding-top: max(rem(60), calc(var(--header-height) + 1rem));
	@media (min-width: $md5) {
		padding-top: max(rem(80), calc(var(--header-height) + 1rem));
	}
	@media (min-width: $md3) {
		padding-top: max(rem(100), calc(var(--header-height) + 1rem));
	}
}
// ========================================================

@import "pages/home";
@import "pages/catalog";
@import "pages/product";
@import "pages/projects";
@import "pages/project";
@import "pages/about";
@import "pages/blog";
@import "pages/article";
@import "pages/contacts";
@import "pages/error";
@import "pages/privacy";
@import "pages/files";
